@media (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }

  .about__subtitle {
    font-size: 80px;
  }

  .tabcontant__title {
    font-size: 70px;
  }
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  a.nav__play {
    display: none;
  }

  .header__subtitle,
  .about__title,
  .tabcontant__title {
    font-size: 50px;
  }

  .about__subtitle {
    font-size: 60px;
  }

  .tabcontant__title {
    font-size: 60px;
  }

  .tabcontent__img {
    width: 600px;
  }

  .tabcontent__description {
    margin-top: 40px;
  }

  .left__title {
    font-size: 40px;
  }

  .portfolio__content {
    grid-template-columns: 1fr;
  }

  .contact__body {
    margin-left: 0;
  }

  .services__column__right {
    margin-left: 0;
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }

  .header__subtitle,
  .about__title,
  .tabcontant__title {
    font-size: 40px;
  }

  .about__subtitle {
    font-size: 45px;
  }

  .nav_menu {
    display: none;
  }

  .header__title,
  .about__left h2 {
    font-size: 17px;
  }

  .about__left h2 {
    margin-top: 0;
  }

  .about__link {
    margin-top: 3rem;
  }

  #canvasOne {
    width: 400px;
    height: 400px;
  }

  .b-menu {
    opacity: 1;
  }

  .tablinks {
    font-size: 15px;
  }

  .tabcontant__title {
    font-size: 50px;
    right: -183px;
    top: 255px;
  }

  .tabcontent__img {
    width: 500px;
  }

  .tabcontent__description {
    margin-top: 30px;
    font-size: 13px;
  }

  .portfolio__img {
    width: 200px;
    height: auto;
  }

  /* contact */
  .contact {
    margin-top: 2rem;
  }

  .contact__content {
    display: block;
  }

  .contact__left,
  .contact__right {
    width: 100%;
  }

  .contact__right {
    margin-top: 2rem;
  }

  .contact__btn {
    display: none;
  }

  /* about_help */
  .about__help__title,
  .advantages__title {
    font-size: 30px;
  }

  .column__discription,
  .advantages__list__body {
    margin-top: 2rem;
    line-height: 1.2;
  }

  .about__help__right {
    margin-top: 1rem;
    margin-left: 0;
  }

  .about__help__content,
  .about__help__column,
  .advantages__columns {
    display: block;
  }

  /* form */
  .form-group textarea,
  .form-group input,
  .form-group select {
    font-size: 10px;
  }

  /* client in co */
  .clients__content {
    display: block;
  }

  .client__left,
  .client__right {
    width: 100%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .container {
    max-width: 700px;
  }

  .header__subtitle,
  .about__title,
  .tabcontant__title {
    font-size: 30px;
  }

  .about__subtitle {
    font-size: 40px;
  }



  .tabcontant__title {
    right: -123px;
    top: 275px;
  }

  .b-menu {
    right: 3.3rem;
  }
}

@media (max-width: 692px) {
  .container {
    max-width: 550px;
  }

  .services__content {
    display: block;
  }

  .tabs button {
    text-align: center;
  }

  .portfolio {
    padding-top: 33rem;
  }

  .info__info a,
  .form-group label,
  .btn-primary {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .container {
    max-width: 450px;
  }

  .testimonial__body p {
    font-size: 13px;
  }

  #canvasOne {
    width: 300px;
    height: 300px;
  }

  .header__subtitle,
  .about__title,
  .tabcontant__title {
    font-size: 20px;
  }

  .header__btn {
    margin: 10px 0;
  }

  .header__btn i {
    margin-left: 1rem;
  }

  .tabcontent__img {
    width: 300px;
  }

  .tabcontant__title {
    right: -10px;
    top: 166px;
  }

  .tabcontent__description {
    font-size: 10px;
  }

  .tabs {
    padding-right: 2rem;
  }

  .header__title,
  .about__left h2 {
    font-size: 13px;
  }

  .about__subtitle {
    font-size: 30px;
  }

  .links {
    margin-top: 2rem;
  }

  .portfolio__block img {
    width: 250px;
  }

  /* Contact */
  .contact__title {
    font-size: 20px;
  }

  .contact__left {
    margin-left: 0;
  }

  .contact__subtitle {
    font-size: 15px;
  }

  .contact__right {
    margin-left: 0;
  }

  /* About__help */

  .about__help__right {
    margin-left: 0;
  }

  .column__discription:first-child {
    margin-right: 0;
  }

  .advantages__list__item {
    width: 100%;
  }

  /* form */
  .form-group textarea,
  .form-group input,
  .form-group select {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 350px;
  }

  #canvasOne {
    width: 250px;
    height: 250px;
  }

  .nav__left {
    gap: 0;
  }

  .b-nav {
    width: 400px;
  }

  .tablinks {
    font-size: 13px;
  }

  .form-group label {
    left: 12px;
  }

  .about__help__title, .advantages__title {
    font-size: 20px;
}
}

@media (max-width: 390px) {
  .container {
    max-width: 350px;
  }

  #canvasOne {
    width: 200px;
    height: 200px;
  }



  .header__left {
    padding-top: 2rem;
  }

  .about__subtitle {
    font-size: 20px;
  }

  .tabcontent__img {
    width: 193px;
  }
  .tabcontant__title {
    right: -40px;
    top: 102px;
  }

  .tabcontent__description {
    font-size: 10px;
  }

  .portfolio__block img {
    width: 150px;
    height: auto;
  }

  .advantages__list__body {
    font-size: 15px;
  }

}

/* !BTN  */
@media (max-height: 1080px) {
  .header__btn {
    width: calc(100px + 70 * ((100vh - 320px) / 760));
  }
}
@media (max-height: 1080px) {
  .header__btn {
    height: calc(100px + 70 * ((100vh - 320px) / 760));
  }
}
@media (max-height: 1080px) {
  .header__btn {
    font-size: calc(14px + 6 * ((100vh - 320px) / 760));
  }
}

@media (max-height: 1080px) {
  .header__btn i {
    max-width: calc(50px + 60 * ((100vh - 320px) / 760));
  }
}

@media (max-height: 1080px) {
  .header__btn {
    width: calc(80px + 70 * ((100vh - 320px) / 760));
  }
}
@media (max-height: 1080px) {
  .header__btn {
    height: calc(75px + 70 * ((100vh - 320px) / 760));
  }
}
